<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weryfikacja konta Discord</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Weryfikacja konta Discord</h1>
        <p>Aby się zweryfikować, kliknij przycisk poniżej.</p>
        <a href="<%= loginUrl %>">
            <button>zweryfikować się przez Discord</button>
        </a>
    </div>
</body>
</html>
