<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nie zalogowano</title>
    <link rel="stylesheet" href="/css/notLoggedIn.css">
</head>
<body>
    <div class="container">
        <h1>Nie jesteś zalogowany</h1>
        <p>Aby uzyskać dostęp do panelu użytkownika, musisz się zalogować.</p>
        <b><p style="color: red; text-decoration: underline red;">UWAGA GDY PRZESZŁEŚ DO KLIKNIJ ODŚWIEŻ (F5)</p></b>
        <a href="/">
            <button>Przejdz do strony głównej/Na konto</button>
        </a>
    </div>
</body>
</html>
