/* Ogólne ustawienia strony */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../images/20241105171827_1.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
}

.header-link, .footer-link {
    text-decoration: none;
    color: white;
}

/* Stylizacja nagłówka */
header {
    position: fixed;
    top: 70px;
    left: 210px;
    right: 210px;
    background-color: rgba(255, 255, 255, 0.4);  /* Białe półprzezroczyste tło */
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content h1 {
    margin: 0;
    font-size: 24px;
    color: white;
}

.header-content form button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.header-content form button:hover {
    background-color: #45a049;
}

/* Stylizacja głównej zawartości */
.container-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 90%;
    margin: 2opx;
    max-width: 1200px;
    margin-top: 100px; /* Odstęp, aby nagłówek nie nachodził na treść */
}

/* Stylizacja kontenerów */
.container {
    background-color: rgba(255, 255, 255, 0.4); /* Półprzezroczyste tło */
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 30%; /* Szerokość kontenerów w układzie flex */
    min-width: 300px; /* Minimalna szerokość dla mniejszych ekranów */
}

/* Lewa i prawa kolumna */
.container.left, .container.right {
    width: 30%;
}

/* Środkowa kolumna */
.container.center {
    width: 40%;
}

.underline {
    text-decoration: underline;
}

.beta {
    background-color: #ffcc00; /* Kolor tła dla wyróżnienia */
    color: #fff;               /* Kolor tekstu */
    font-weight: bold;         /* Pogrubienie tekstu */
    padding: 2px 5px;          /* Odstępy wewnętrzne */
    border-radius: 3px;        /* Zaokrąglone rogi */
    font-size: 0.9em;          /* Zmniejszenie tekstu, by wyglądał jak etykieta */
    text-transform: uppercase; /* Tekst wielkimi literami */
}

/* Stylizacja nagłówków i tekstów w sekcjach */
h1 {
    font-size: 36px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

h2 {
    font-size: 28px;
    color: white;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

p {
    font-size: 16px;
    margin-bottom: 15px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/* Stylizacja obrazków (avatar) */
img {
    border-radius: 50%;
    margin: 20px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* Stylizacja bannerów */
.banner {
    margin-top: 30px;
}

.banner img {
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 100%;
}

/* Formularz ról */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Stylizacja dla samego <select> */
.roles {
    width: 100%; /* Szerokość pełna */
    height: 150px; /* Ustalona wysokość dla lepszego widoku */
    background-color: #f4f4f4; /* Tło */
    border: 1px solid #ccc; /* Ramka */
    border-radius: 5px; /* Zaokrąglone rogi */
    padding: 10px; /* Wewnętrzne odstępy */
    font-size: 14px; /* Rozmiar tekstu */
    color: #333; /* Kolor tekstu */
    outline: none; /* Usunięcie standardowego obramowania */
    overflow-y: auto; /* Pasek przewijania */
}

/* Stylizacja dla opcji <option> */
.roles option {
    padding: 5px;
    background-color: white;
    color: #333;
}

.roles option:checked {
    background-color: #007bff; /* Kolor tła dla wybranych opcji */
    color: white; /* Kolor tekstu dla wybranych opcji */
}

input[type="text"], input[type="number"] {
    width: 300px;
    height: 35px;
    padding: 5px 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    margin: 10px 0px;  /* Dodany margines góra/dół */
}

input[type="text"]:focus, input[type="number"]:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
    outline: none;
}

input[type="text"]:hover, input[type="number"]:hover {
    border-color: #888;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

button {
    padding: 15px 30px;
    font-size: 20px;
    background-color: #7289DA;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #5b6eae;
}

/* Stylizacja stopki */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

/* Responsywność */
@media (max-width: 768px) {
    .container-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .container {
        width: 80%;
        margin-bottom: 20px;
    }

    .container.left, .container.right, .container.center {
        width: 100%;
    }
}
